/* FONTS GERAL */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Rosarivo:ital@0;1&family=Tilt+Warp&display=swap');



body{
    font-family:"Rosarivo", cursive; /* estilizar a fonte */
    color: #ffffff;/*  cor da font */
    background: rgb(66, 42, 80); /* fundo  */
}

a {
    text-decoration: none; 
    color: rgb(224, 224, 224);
}

a:hover { 
    color: black;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Tilt Warp", sans-serif;
}


/* cabeçalho===header */
#header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0 ;
    width: 300px;
    background: #0c1f34; /* fundo header vertical */
    transition: all ease-in-out; /* efeito */
    z-index: 9999; /* sobreposto o conteudo */
    padding: 0 15px;
    overflow-y: auto;/*  sistema de transbordar,rolagem */
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 300px;
    border: 4px solid #45596e;
}

.container, .container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}
.text-light a:hover {
    color: rgb(78, 78, 78);
    transition: all .2s;
}
#header .perfil .social-links i {
    font-size: 20px;
    color: #000000;
    background: #a59c9c;
    border-radius: 50%;
    margin-right: 8px;
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}
#header .perfil .social-links i:hover {
    color: rgb(48, 46, 46);
    background: #000000;
    transition: all 0.3s;
}
#main{
    margin-left: 300px;
}


/* navegador deskotp */
.nav-menu{
    padding: 30px 0 0 0;
}

.nav-menu *{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li /* navegação  */ {
    position: relative;
    white-space: nowrap;
}

.nav-menu a, .nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #9b889a;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a i, .nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #5f094a;
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus,.nav-menu li:hover>a {
    text-decoration: none;
    color: rgb(34, 94, 143);
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus i,.nav-menu li:hover>a i {
    color: rgb(34, 94, 143);
}

/* mobile menu */

.mobile-nav-toggle{
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important; /* remove a linha */
    background: #0c1f34;
    color: aliceblue;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}
.mobile-nav-active {
    overflow: hidden;
}
.mobile-nav-active #header {
    left: 0;
}



/* resolução mobile */

@media (max-width: 1199px) {
    #header {
        left: -300px; /* tamanho proposto */
    }


#main {
    margin-left: 0;
}

.container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
}

}

/* hero */
 #hero {
    width: 100%;
    height: 100vh;
    background:url(../img/hero-bg.webp) top center; /* codigo quando quiser colocar foto ao fundo pelo css */
    background-size: cover;
    
 }
 #hero::before{
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    inset: 0;
    z-index: 1;
 }

 #hero.hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
 }
#hero h1{
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 900;
    line-height: 56px;
    color: #ffffff;
    background: #5f094a;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#hero p {
    color: #000000;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 26px;
    font-family: sans-serif;
    }
#hero p span {
    color: #000000;
    padding-bottom: 4px; /* Espaço interno embaixo  */
    letter-spacing: 1px; /* Espaço entre letras . */
    font-weight: 900; /*  Fonte bem negrito. */
    border-bottom: 3px solid #362a2a; /* define uma borda na parte de baixo de um elemento. No exemplo: 3px → espessura da borda (3 pixels);
    solid → estilo da borda (sólida, sem traços ou pontilhados);
    #ffffff → cor da borda (branca). */
}
@media(min-width: 1024px) /* Esse código define que as regras dentro desse bloco só serão aplicadas se a largura da tela for igual ou maior que 1024 pixels. Isso é útil para criar layouts responsivos, ajustando o estilo com base no tamanho da tela, como em desktops, tablets grandes, etc. */ {
    #hero {
        background-attachment: fixed; /* Essa propriedade define o comportamento de rolagem do plano de fundo do elemento. Quando o valor é fixed, o plano de fundo fica fixo em relação à janela de visualização (viewport), ou seja, ele não se move quando a página é rolada. */
    }
}
@media(max-width:768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

 /* secões geral */

section{
    padding: 60px 0;
    overflow: hidden;
}
.section-bg{
    background: #45596e;
}
.section-title{
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}
.section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #9b889a;
    bottom: 0;
    left: 0;
}
.section-title p {
    margin-bottom: 0;
    color: aliceblue;
    font-size:20px ;
    font-family:"Rosarivo", cursive;

}

/* about */
.about .content h3{
    font-weight: 700;
    font-size: 26px;
    color: #6b849c;
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.about .content ul strong{
    margin-right: 10px;
    color: #6b849c;
    font-weight: 200;
}
.about .content ul span{
    color: #ecdede;
    font-family: "Rosarivo", cursive;
    font-weight: 600;
}
.about .content p{
    color: #160f16;
    font-family: cursive;
    font-weight: 600;
}
.about .content ul i{
   font-size: 16px;
   margin-right: 5px; 
   color: #9b889a;
   line-height: 0;
}